@charset "UTF-8";

/* Encode Sans Expanded */

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 100;
  src: url('Fonts/encode-sans-expanded-v3-latin-100.eot');
  src: local('Encode Sans Expanded Thin'), local('EncodeSansExpanded-Thin'), url('Fonts/encode-sans-expanded-v3-latin-100.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-100.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-100.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-100.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-100.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 300;
  src: url('Fonts/encode-sans-expanded-v3-latin-300.eot');
  src: local('Encode Sans Expanded Light'), local('EncodeSansExpanded-Light'), url('Fonts/encode-sans-expanded-v3-latin-300.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-300.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-300.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-300.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-300.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 200;
  src: url('Fonts/encode-sans-expanded-v3-latin-200.eot');
  src: local('Encode Sans Expanded ExtraLight'), local('EncodeSansExpanded-ExtraLight'), url('Fonts/encode-sans-expanded-v3-latin-200.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-200.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-200.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-200.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-200.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/encode-sans-expanded-v3-latin-regular.eot');
  src: local('Encode Sans Expanded Regular'), local('EncodeSansExpanded-Regular'), url('Fonts/encode-sans-expanded-v3-latin-regular.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-regular.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-regular.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-regular.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-regular.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 500;
  src: url('Fonts/encode-sans-expanded-v3-latin-500.eot');
  src: local('Encode Sans Expanded Medium'), local('EncodeSansExpanded-Medium'), url('Fonts/encode-sans-expanded-v3-latin-500.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-500.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-500.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-500.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-500.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 700;
  src: url('Fonts/encode-sans-expanded-v3-latin-700.eot');
  src: local('Encode Sans Expanded Bold'), local('EncodeSansExpanded-Bold'), url('Fonts/encode-sans-expanded-v3-latin-700.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-700.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-700.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-700.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-700.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 800;
  src: url('Fonts/encode-sans-expanded-v3-latin-800.eot');
  src: local('Encode Sans Expanded ExtraBold'), local('EncodeSansExpanded-ExtraBold'), url('Fonts/encode-sans-expanded-v3-latin-800.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-800.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-800.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-800.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-800.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 600;
  src: url('Fonts/encode-sans-expanded-v3-latin-600.eot');
  src: local('Encode Sans Expanded SemiBold'), local('EncodeSansExpanded-SemiBold'), url('Fonts/encode-sans-expanded-v3-latin-600.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-600.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-600.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-600.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-600.svg#EncodeSans Expanded') format('svg');
}

@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 900;
  src: url('Fonts/encode-sans-expanded-v3-latin-900.eot');
  src: local('Encode Sans Expanded Black'), local('EncodeSansExpanded-Black'), url('Fonts/encode-sans-expanded-v3-latin-900.eot?#iefix') format('embedded-opentype'), url('Fonts/encode-sans-expanded-v3-latin-900.woff2') format('woff2'), url('Fonts/encode-sans-expanded-v3-latin-900.woff') format('woff'), url('Fonts/encode-sans-expanded-v3-latin-900.ttf') format('truetype'), url('Fonts/encode-sans-expanded-v3-latin-900.svg#EncodeSans Expanded') format('svg');
}

/* Lora */

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/lora-v13-latin-regular.eot');
  src: local('Lora Regular'), local('Lora-Regular'), url('Fonts/lora-v13-latin-regular.eot?#iefix') format('embedded-opentype'), url('Fonts/lora-v13-latin-regular.woff2') format('woff2'), url('Fonts/lora-v13-latin-regular.woff') format('woff'), url('Fonts/lora-v13-latin-regular.ttf') format('truetype'), url('Fonts/lora-v13-latin-regular.svg#Lora') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('Fonts/lora-v13-latin-italic.eot');
  src: local('Lora Italic'), local('Lora-Italic'), url('Fonts/lora-v13-latin-italic.eot?#iefix') format('embedded-opentype'), url('Fonts/lora-v13-latin-italic.woff2') format('woff2'), url('Fonts/lora-v13-latin-italic.woff') format('woff'), url('Fonts/lora-v13-latin-italic.ttf') format('truetype'), url('Fonts/lora-v13-latin-italic.svg#Lora') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('Fonts/lora-v13-latin-700.eot');
  src: local('Lora Bold'), local('Lora-Bold'), url('Fonts/lora-v13-latin-700.eot?#iefix') format('embedded-opentype'), url('Fonts/lora-v13-latin-700.woff2') format('woff2'), url('Fonts/lora-v13-latin-700.woff') format('woff'), url('Fonts/lora-v13-latin-700.ttf') format('truetype'), url('Fonts/lora-v13-latin-700.svg#Lora') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('Fonts/lora-v13-latin-700italic.eot');
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url('Fonts/lora-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), url('Fonts/lora-v13-latin-700italic.woff2') format('woff2'), url('Fonts/lora-v13-latin-700italic.woff') format('woff'), url('Fonts/lora-v13-latin-700italic.ttf') format('truetype'), url('Fonts/lora-v13-latin-700italic.svg#Lora') format('svg');
}


:root {
  --text-color: rgb(33, 33, 33);
  --text-color-light: rgba(33, 33, 33, 0.7);
  --text-color-lighter: rgba(33, 33, 33, 0.5);
  --text-color-inversed: #ffffff;
  --background-color-dynamic: #fff226;
  --background-color: #ffffff;
  --background-color-transparent: rgba(255, 255, 255, .8);
  --background-color-inversed: rgb(33, 33, 33);

  --font-family-text: "Lora", Arial, Tahoma, sans-serif;
  --font-family-headline: "Encode Sans Expanded", Arial, Tahoma, sans-serif;

  --max-size: 24;
  --min-size: 16;

  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1800 - 420))); /* Ranges from 421px to 1799px */

  --schedule-week-hour-begin: 8;
}

/* Layout */


html {
  font-size: var(--responsive);
}

body {
  font-size: 1rem;
}

html, * {
  font-family: var(--font-family-text);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

* {
  font-size: 1rem;
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--background-color-dynamic);
}

article, aside, section, figcaption, figure, main, details, menu {
  display: block;
}

summary {
  display: list-item;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

audio, video {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

input {
  overflow: visible;
}

img {
  max-width: 100%;
  height: auto;
}

dfn {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headline);
  line-height: 1.2em;
  margin: 0.75rem 0;
  font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}


h1.chapter, h2.chapter, h3.chapter, h4.chapter, h5.chapter, h6.chapter {
  margin-bottom: 0;
  color: var(--text-color-light);
  padding-bottom: .4rem;
  border-bottom: 3px solid var(--background-color-inversed);
  opacity: .6;
}

.chapter + * {
  margin-top: 0;
}

h1 {
  font-size: 2.1rem;
  font-weight: 800;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  margin: 0.5rem 0;
}

ol, ul {
  margin: 0;
  padding-left: 1.25rem;
}

b, strong {
  font-weight: 600;
}

hr {
  box-sizing: content-box;
  border: 0;
  overflow: visible;
  line-height: 1.25em;
  margin: 0.5rem;
  height: 0;
  border-top: 0.0625rem solid #757575;
}

blockquote {
  display: block;
  position: relative;
  font-style: italic;
  background: #e0e0e0;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 1.5rem;
  border-left: 0.25rem solid #3f51b5;
  border-radius: 0 0.1875rem 0.1875rem 0;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
}

blockquote:after {
  position: absolute;
  font-style: normal;
  font-size: 0.875rem;
  color: #616161;
  left: 0.625rem;
  bottom: 0;
  content: "— " attr(cite);
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

code {
  border-radius: 0.125rem;
  background: #e0e0e0;
  padding: 0.125rem 0.25rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
}

pre {
  overflow: auto;
  border-radius: 0 0.1875rem 0.1875rem 0;
  background: #e0e0e0;
  padding: 0.75rem;
  margin: 0.5rem;
  border-left: 0.25rem solid #303f9f;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
}

kbd {
  border-radius: 0.125rem;
  background: #212121;
  color: #fafafa;
  padding: 0.125rem 0.25rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
}

small, sup, sub {
  font-size: 0.75em;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

sup, sub {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  opacity: 1;
  transition: opacity 0.3s;
}

a:visited {
  color: var(--text-color);
}

a:hover, a:focus {
  opacity: 0.75;
}

figcaption {
  font-size: 0.8125rem;
  color: var(--text-color);
}

/* Navigation */

.main-navigation {
  background-color: #FFFFFF;
  padding: 0 2rem;
}

.main-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation__logo {
  font-size: 1.85rem;
  font-family: var(--font-family-headline);
  font-weight: 800;
  text-decoration: none;
  white-space: nowrap;
}

.main-menu {
  display: flex;
  padding: 0;
}

.main-menu__item {
  list-style: none;
  margin-right: 1rem;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__link {
  display: block;
  font-family: var(--font-family-headline);
  font-weight: 800;
  text-decoration: none;
  font-size: .8rem;
  line-height: 3.75rem;
  white-space: nowrap;
}

.content {

}

.content__main {
  padding: 2rem;
}


.page-footer {
  background-color: white;
}

.page-footer__wrapper {
  padding: 2rem;
}

.page-footer__columns {
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-gap: 2rem;
}

.page-footer__column {

}

.collection {
  padding: 0;
}

.collection__item {
  list-style: none;
}

.collection__link {
  display: inline-block;
  font-weight: 800;
  padding: .25em .5em;
  background-color: white;
  margin-bottom: .75em;
}

.collection__link, .collection__link span {
  font-family: var(--font-family-headline);
  font-size: 1.35rem;
  line-height: 1.2;
  text-decoration: none;

  transition: background-color 180ms ease-in-out, color 180ms ease-in-out, transform 180ms ease-in-out;
}

.collection--compact .collection__link, .collection--compact .collection__link span {
  font-size: 1.1rem;
  font-weight: 400;
}

a.collection__link:hover {
  color: white;
  background-color: var(--text-color);
}

a.collection__link:hover span {
  color: white;
}

.stabylo-menu {
  padding: 0;
}

.stabylo-menu__item {
  list-style: none;
}

.stabylo-menu__link {
  display: inline-block;
  color: var(--text-color-light);
  font-family: var(--font-family-headline);
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  padding: .2rem;
  background-color: white;
  line-height: 1.25rem;
  margin-bottom: .25rem;

  transition: all 180ms ease-in-out;
}

.stabylo-menu__link:hover,
.stabylo-menu__link:focus {
  color: white;
  background-color: var(--text-color);
}

.label {

}

.label__prefix {
  display: inline-flex;
  font-weight: inherit;
  font-size: inherit;
  color: var(--text-color-lighter);
  margin-right: .25rem;
}

.label__prefix:after {
  content: "|";
  font-weight: 400;
  display: block;
  margin-left: .25rem;
}

.breadcrumb {

}

.breadcrumb > *:after {
  display: inline-block;
  content: "/";
  margin: 0 .3rem;
  color: var(--text-color-lighter);
  font-weight: 400;
}

.breadcrumb > *:last-child:after {
  content: none;
}

.go-to-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  bottom: 2rem;

  width: 3rem;
  height: 3rem;

  font-family: var(--font-family-headline);
  font-size: 1.25rem;
  font-weight: 800;

  text-decoration: none;

  padding: .75rem;

  background-color: var(--background-color-dynamic);
  background-blend-mode: multiply;

  border: 4px solid white;

  z-index: 100;
}

.go-to-top, .go-to-top .segment {
  transition: fill 120ms ease-out, background-color 120ms ease-out;
}

.go-to-top:hover {
  background-color: var(--background-color-inversed);
}

.go-to-top:hover .segment {
  fill: var(--background-color);
}

.page-header {
  margin-bottom: 2rem;
}

.page-header h1 {
  margin-bottom: 0;
}

.teaser {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: -1rem;
}

.schedule {
  display: grid;
  min-height: 800px;
}

.schedule--weekly {
  grid-template-columns: auto repeat(5, 1fr);
  grid-gap: 1rem;
}

.week {
  --schedule-week-hours: 12;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: repeat(var(--schedule-week-hours),1fr);
}

.week--vertical {

}

.day__label {
  position: sticky;
  top: 0;
  background-color: var(--background-color-dynamic);
  font-size: 1rem;
  text-align: right;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-bottom: 2px solid var(--background-color-inversed);
  margin-top: 0;
}

.day__header {
  font-size: .8rem;
  margin: 0;
  font-weight: 300;
}

.day__subheader {
  font-size: 1rem;
  margin: 0;
  margin-bottom: .25rem;
  font-weight: 600;
}

.hour__label {
  --start: 1;
  --end: 2;
  grid-row-start: calc(var(--start) - var(--schedule-week-hour-begin) + 1);
  grid-row-end: calc(var(--end) - var(--schedule-week-hour-begin) + 1);
  border-top: 1px solid var(--text-color-light);
}

.hour__label:after {
  content: var(--start);
}

.login-form {
  display: flex;
  justify-content: center;
}

.login-form__wrapper {
  width: 30vw;
  max-width: 20em;
  margin: 4rem 0;
}

.form {

}

.form__label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.form__input {
  display: block;
  border: 0;
  padding: .8rem 1rem;
  width: 100%;
}

.form__actions {
  margin-top: 2rem;
}

.form__button {
  cursor: pointer;
  padding: .8rem .5rem;
  width: 100%;
  background-color: var(--background-color-inversed);
  color: var(--text-color-inversed);
  border: 4px solid transparent;
  font-weight: 600;

  transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

.form__button:hover {
  background-color: var(--background-color-dynamic);
  border-color: var(--background-color);
  color: var(--text-color);
}

.form__subactions {

}

.form__subaction {
  font-size: .8rem;
}

.form__help {
  font-size: .9rem;
  font-weight: 400;
  font-style: italic;
}

.progress {
  background-color: transparent;
  width: 100%;

  opacity: 0;

  transition: all 120ms ease-in-out;
}

.progress div {
  background-color: var(--background-color-inversed);
  height: .2rem;
  animation-delay: 300ms;
}

.progress--on {
  opacity: .5;
}

.progress--on div {
  width: 0%;
  animation: progress 3s infinite forwards ease-out;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


.calendar {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;
  grid-gap: 2px 10px;
}

.day {
  min-height: 8rem;
  max-width: 100%;
  overflow: hidden;
}

.day__label {
  position: sticky;
  top: 0;
  line-height: 1.2;
  margin-bottom: .2rem;
  background-color: var(--background-color-dynamic);
  font-size: 1rem;
  text-align: right;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-bottom: 2px solid var(--background-color-inversed);
}

.event {
  cursor: pointer;
  font-size: .9rem;
  margin-bottom: 1rem;
  hyphens: auto;
  padding-left: .25rem;
  border-left: 1px solid var(--background-color-inversed);
  background-color: var(--background-color-dynamic);

  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.event--timed, .event--empty {
  --start: 1;
  --end: 2;
  grid-row-start: calc(var(--start) - var(--schedule-week-hour-begin) + 1);
  grid-row-end: calc(var(--end) - var(--schedule-week-hour-begin) + 1);
  margin-bottom: 0;
}

.event--empty {
  border-color: transparent;

  transition: background-color 140ms ease-in;
}

.event--empty:hover {

}

.event__actions {
  margin: .2rem;
  height: calc(100% - .4rem);
  opacity: 0;
  transform: translateY(-100%);

  transition: all 240ms ease-in;
}

.event--empty:hover .event__actions {
  background-color: var(--background-color-transparent);
  opacity: 1;
  transform: translateY(0);
}

.event__label {
  line-height: 1.2;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event__time, .event__start, .event__end {
  font-size: .7rem;
}

.feed {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}


.feed-item {
}

.feed-item__header {
  position: sticky;
  top: 0;
  background-color: var(--background-color-dynamic);
}

.feed-item__headline {
  font-size: 1rem;
  text-align: right;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-bottom: 2px solid var(--background-color-inversed);
  margin-top: 0;
}

.feed-item__content {
  background-color: var(--background-color);
  padding: 1rem;
  min-height: 8rem;
}
